DATA LOADING

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/durga/Desktop/SPU/DS 600/PROJECT/FINAL/DATA_SET.CSV", encoding='latin1')

DATA CLEANING AND PRE PROCESSING

In [3]:
df.head()

,Sl no,Name,Profile ID,Date,Comment
0,1,scotty2jatty,3.982741e+08,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,2,angelasanders975,6.596329e+10,22/04/24 17:43:49,That's soooooooooo right
2,3,myleslewis_24,1.168729e+10,22/04/24 17:49:54,bro i want that shirt
3,4,miladheydarpour1369,7.529961e+09,22/04/24 18:44:02,ð¹
4,5,matthew_williams224,2.524021e+10,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sl no       2004 non-null   int64
 1   Name        2003 non-null   object
 2   Profile ID  2003 non-null   float64
 3   Date        2003 non-null   object
 4   Comment     1956 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 78.4+ KB

In [5]:
# Converting inot the suitable data types for the variables
df['Name'] = df['Name'].astype(str)
df['Profile ID'] = df['Profile ID'].astype(str)
df.head()

,Sl no,Name,Profile ID,Date,Comment
0,1,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,2,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right
2,3,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt
3,4,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹
4,5,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [6]:
#dropping off unnessary colums from the data set
df.drop(columns=['Sl no'], inplace=True)

In [7]:
df.head()

,Name,Profile ID,Date,Comment
0,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [8]:
# To check the length of each comment 
df['Comment_Length'] = df['Comment'].str.len()

In [9]:
df.head()

,Name,Profile ID,Date,Comment,Comment_Length
0,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð,34.0
1,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right,24.0
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt,21.0
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹,4.0
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...,60.0

In [10]:
# Checcking the rows and colums in the data set
df.shape

(2004, 5)

STOP WORDS REMOVAL

In [12]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\durga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [13]:
from nltk.corpus import stopwords
import re

stopwords = set(stopwords.words("english"))

print(stopwords)

{'was', 'who', 'and', 'what', 'has', 'which', 'into', 'themselves', "you'll", "doesn't", 'during', 'on', 'didn', 'our', "mustn't", 'do', 'don', 've', 'your', 'me', 'wouldn', 's', 'of', 'that', 'had', 'be', 'mustn', 'most', 'couldn', 'needn', 'above', 'are', 'out', 're', 'can', 'there', 'mightn', 't', 'have', 'we', 'at', "wasn't", 'nor', 'against', 'o', "wouldn't", 'his', 'wasn', 'yours', 'y', 'ours', 'while', "haven't", "you've", 'he', 'further', 'those', 'other', 'ourselves', "weren't", 'from', "hasn't", 'so', 'should', 'it', 'theirs', 'under', 'here', 'shan', "didn't", 'down', 'only', 'after', 'than', 'weren', 'if', 'when', 'some', 'a', 'where', "that'll", 'being', 'their', 'its', 'these', 'this', 'off', 'any', "she's", 'yourselves', 'again', 'just', 'why', 'too', 'very', 'as', 'to', 'him', "should've", 'did', 'the', 'up', "shouldn't", "don't", 'myself', 'they', 'having', 'will', 'ma', "shan't", 'an', 'aren', 'himself', "you'd", 'my', 'you', 'shouldn', 'll', 'by', "it's", 'own', 'all', 'she', "needn't", 'i', "aren't", 'itself', 'them', 'haven', 'once', "mightn't", 'both', 'hers', 'm', 'whom', 'between', 'her', 'each', 'ain', 'in', 'then', 'more', 'about', 'herself', 'with', 'but', 'same', 'through', "hadn't", 'were', 'or', 'd', 'isn', "isn't", 'for', 'now', 'before', 'hasn', 'until', 'not', 'few', 'because', 'is', 'doing', 'won', 'does', "couldn't", 'such', "won't", 'doesn', 'been', 'no', 'below', 'how', 'hadn', "you're", 'yourself', 'am', 'over'}

In [32]:
import pandas as pd
import re
def remove_stopwords(text):
    if isinstance(text, str):
        filtered_words = [word.lower() for word in text.split() if word.lower() not in stopwords]
        return " ".join(filtered_words)
    else:
        return ""

# removing numbers and punctuations
def preprocess(text):
    if isinstance(text, str):
        text_input = re.sub(r'!', ' ', str(text))
        text_input = re.sub(r'[0-9]+', '', str(text_input))
        text_input = text_input.replace('<br /><br />', '')
        text_input = text_input.replace('(', '')
        text_input = text_input.replace('@', '')
        text_input = text_input.replace('_', '')
        text_input = text_input.replace('%', '')
        text_input = text_input.replace('"', '')
        text_input = text_input.replace('$', '')
        text_input = text_input.replace('*', '')
        text_input = text_input.replace('.', '')
        text_input = text_input.replace('/', '')
        text_input = text_input.replace(':', '')
        text_input = text_input.replace('?', '')
        text_input = text_input.replace(',', '')
        text_input = text_input.replace('---', '')
        text_input = text_input.replace("'", '')
        output = text_input.replace(')', '')
        return output.lower().strip()
    else:
        return ""

# Applying the functions to the DataFrame
df['Comment'] = df['Comment'].map(remove_stopwords)
df['Comment'] = df['Comment'].map(preprocess)

# Extracting the filtered data
df['Comment'] = df['Comment']

In [33]:
df['Comment'].head()

0                   better jakepaul dirty
1                 thats soooooooooo right
2                          bro want shirt
3
4    michaelgalt bro needs beat jakes ass
Name: Comment, dtype: object

In [34]:
def preprocess(text):
    # Remove emojis and non-ASCII symbols
    text_input = re.sub(r'[^\x00-\x7F]+', '', str(text))
    # Remove punctuations and numbers
    text_input = re.sub(r'[^\w\s]', ' ', text_input)
    # Remove multiple spaces
    text_input = re.sub(r'\s+', ' ', text_input)
    return text_input.strip().lower()

# Applying the preprocess function to the 'Comment' column
df['Comment'] = df['Comment'].map(preprocess)

In [35]:
df['Comment'].head()

0                   better jakepaul dirty
1                 thats soooooooooo right
2                          bro want shirt
3
4    michaelgalt bro needs beat jakes ass
Name: Comment, dtype: object

In [36]:
df

,Name,Profile ID,Date,Comment,Comment_Length
0,scotty2jatty,398274122.0,22/04/24 05:27:52,better jakepaul dirty,34.0
1,angelasanders975,65963290409.0,22/04/24 17:43:49,thats soooooooooo right,24.0
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro want shirt,21.0
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,,4.0
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,michaelgalt bro needs beat jakes ass,60.0
...,...,...,...,...,...
1999,moespoe14,4984522145.0,19/02/20 12:49:27,smiling carnivore plant,43.0
2000,moespoe14,4984522145.0,19/02/20 12:50:09,lifewithangela,24.0
2001,splashelegant97,8479326318.0,19/02/20 13:58:23,muratserter okay sure lonely person hon,65.0
2002,dreamybeamy,11059719526.0,19/02/20 14:02:21,,38.0
2003,roberttheotherweasley,421167152.0,19/02/20 14:24:36,toxiiiic douchecanoe,20.0

In [37]:
df['Comment'].head(n=20)

0                                 better jakepaul dirty
1                               thats soooooooooo right
2                                        bro want shirt
3
4                  michaelgalt bro needs beat jakes ass
5
6                                              mike tko
7                                          shirt though
8              yeah boy tysons gonna get shit done goat
9                                       please win mike
10                                           want shirt
11                                           love shirt
12
13
14                               jakepaul cant wait see
15    brotha michael heck inspiration everybody stud...
16       jakepaul money plan get punched mouth millions
17                                finish fatality style
18
19                                          whens fight
Name: Comment, dtype: object

In [42]:
#Dropping the rows which are empty now
df = df[df['Comment'].str.strip().astype(bool)]

# Reset index after dropping rows
df.reset_index(drop=True, inplace=True)

In [43]:
df['Comment'].head(n=20)

0                                 better jakepaul dirty
1                               thats soooooooooo right
2                                        bro want shirt
3                  michaelgalt bro needs beat jakes ass
4                                              mike tko
5                                          shirt though
6              yeah boy tysons gonna get shit done goat
7                                       please win mike
8                                            want shirt
9                                            love shirt
10                               jakepaul cant wait see
11    brotha michael heck inspiration everybody stud...
12       jakepaul money plan get punched mouth millions
13                                finish fatality style
14                                          whens fight
15                                           plan dream
16    miketysoncollection shirt site exactly say shi...
17                                   jakepaul hell make
18                             legend forever jake puss
19                                 shirt says iron mike
Name: Comment, dtype: object

In [44]:
df.shape

(1600, 5)