In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/durga/Desktop/SPU/DS 600/PROJECT/FINAL/DATA_SET.CSV", encoding='latin1')

In [3]:
df.head()

,Sl no,Name,Profile ID,Date,Comment
0,1,scotty2jatty,3.982741e+08,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,2,angelasanders975,6.596329e+10,22/04/24 17:43:49,That's soooooooooo right
2,3,myleslewis_24,1.168729e+10,22/04/24 17:49:54,bro i want that shirt
3,4,miladheydarpour1369,7.529961e+09,22/04/24 18:44:02,ð¹
4,5,matthew_williams224,2.524021e+10,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [4]:
import re

def extract_urls(text):
    return re.findall(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', str(text))


df['Comment'] = df['Comment'].apply(lambda x: ' '.join(extract_urls(x)))


print(df)

      Sl no                   Name    Profile ID               Date Comment
0         1           scotty2jatty  3.982741e+08  22/04/24 05:27:52
1         2       angelasanders975  6.596329e+10  22/04/24 17:43:49
2         3          myleslewis_24  1.168729e+10  22/04/24 17:49:54
3         4    miladheydarpour1369  7.529961e+09  22/04/24 18:44:02
4         5    matthew_williams224  2.524021e+10  22/04/24 18:53:42
...     ...                    ...           ...                ...     ...
2023   2024              moespoe14  4.984522e+09  19/02/20 12:49:27
2024   2025              moespoe14  4.984522e+09  19/02/20 12:50:09
2025   2026        splashelegant97  8.479326e+09  19/02/20 13:58:23
2026   2027            dreamybeamy  1.105972e+10  19/02/20 14:02:21
2027   2028  roberttheotherweasley  4.211672e+08  19/02/20 14:24:36

[2028 rows x 5 columns]

In [5]:
df.head(n=20)

,Sl no,Name,Profile ID,Date,Comment
0,1,scotty2jatty,3.982741e+08,22/04/24 05:27:52,
1,2,angelasanders975,6.596329e+10,22/04/24 17:43:49,
2,3,myleslewis_24,1.168729e+10,22/04/24 17:49:54,
3,4,miladheydarpour1369,7.529961e+09,22/04/24 18:44:02,
4,5,matthew_williams224,2.524021e+10,22/04/24 18:53:42,
5,6,dunnett.kay,1.131370e+09,22/04/24 19:09:45,
6,7,vremyatherapper,3.178600e+09,22/04/24 19:21:58,
7,8,pkkw777,6.329501e+09,22/04/24 19:27:03,
8,9,schnopp77,5.894240e+09,22/04/24 19:27:32,
9,10,kryztaf0,4.992125e+10,22/04/24 19:40:16,
10,11,lujackson_0,9.054607e+08,22/04/24 19:56:57,
11,12,iiithomaspeterson,6.998862e+09,22/04/24 19:58:02,
12,13,dope_omoakin1,1.045751e+09,22/04/24 20:19:42,
13,14,wizard.066,6.593370e+10,22/04/24 20:30:59,
14,15,algernonveritas,2.113790e+08,22/04/24 21:17:56,
15,16,timothyedward45,6.582936e+10,22/04/24 21:28:24,
16,17,xyx,8.587643e+06,22/04/24 21:28:25,https://CornyNanoScale.swiruty.repl.co
17,18,kevsonsw,2.468803e+08,22/04/24 21:30:23,
18,19,canudropit2,3.090578e+09,22/04/24 21:33:58,
19,20,d_0racle24,3.560894e+10,22/04/24 22:56:07,

In [6]:

df = df[df['Comment'].str.strip().str.strip('"') != '']

df.reset_index(drop=True, inplace=True)

print(df)

    Sl no                    Name    Profile ID               Date  \
0      17                     xyx  8.587643e+06  22/04/24 21:28:25
1      29                   fggts  6.677650e+05  23/04/24 02:51:24
2      38                  hgyfgf  7.647364e+06  23/04/24 06:26:34
3      49                bhfbhfbv  7.766630e+05  23/04/24 14:09:06
4      64                    hhyd  8.877720e+05  23/04/24 22:19:16
5      77                    yuou  8.877300e+04  23/04/24 22:45:49
6      86                   youta  9.900800e+04  24/04/24 01:53:13
7      99                    ttru  7.654300e+04  24/04/24 12:14:34
8     132                     dio  6.754300e+04  24/04/24 14:46:16
9     167                    ytre  9.876540e+05  24/04/24 15:02:20
10    179        marilynshugart42  2.757670e+08  24/04/24 15:06:34
11    487                    tris  6.543000e+03  16/04/24 17:48:28
12    558             colin_drane  5.371549e+10  19/04/24 14:01:57
13    577                    hytr  8.765300e+04  20/04/24 03:58:04
14    615                 gowtham  6.543000e+03  23/04/24 10:30:37
15    760                    ford  6.543000e+03  22/11/23 20:26:13
16    807                onifauji  1.900660e+09  23/01/24 12:53:48
17    835                   freud  8.754000e+03    9/10/2023 16:19
18    879  chris_martin_voicemail  2.942020e+10  21/12/23 23:22:01
19    885  chris_martin_voicemail  2.942020e+10  21/12/23 23:24:10
20    889  chris_martin_voicemail  2.942020e+10  21/12/23 23:28:18
21    891  chris_martin_voicemail  2.942020e+10  21/12/23 23:28:52
22    892  chris_martin_voicemail  2.942020e+10  21/12/23 23:29:25
23    894  chris_martin_voicemail  2.942020e+10  21/12/23 23:30:35
24    897  chris_martin_voicemail  2.942020e+10  21/12/23 23:31:27
25    898  chris_martin_voicemail  2.942020e+10  21/12/23 23:32:01
26    900  chris_martin_voicemail  2.942020e+10  21/12/23 23:32:51
27    902  chris_martin_voicemail  2.942020e+10  22/12/23 00:33:15
28    904  chris_martin_voicemail  2.942020e+10  22/12/23 00:36:03
29    930                    gytr  6.543200e+04  19/04/24 12:02:03
30    957                djsheaii  9.947336e+08  19/04/24 20:06:25
31   1114                    rode  3.423100e+04     6/5/2024 14:23
32   1132                    hyre  3.456000e+03    11/5/2024 23:31
33   1213                     vgt  6.543200e+04  17/04/24 16:11:32
34   1271                   vtres  6.543770e+05  30/03/24 21:03:35
35   1483            mariachusi16  5.506396e+10  23/04/24 12:22:05
36   1711           justformycats  3.577253e+08  24/04/24 16:31:52
37   1869         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48
38   1870         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48
39   1871         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48

                                              Comment
0              https://CornyNanoScale.swiruty.repl.co
1                                   http://0x2501c8ed
2                              http://7SAH.numexi.com
3                  http://FOLLYBEACHVACATIONS.CO/4ABM
4   http://MyJCB-jp.ltd/RegistUser/cojp_head_myj_t...
5   http://MyJCB-jp.top/RegistUser/cojp_head_myj_t...
6                          http://OemuT8.revahgrs.vip
7                       http://paypaXw.co.uk.j1l7.top
8                         http://compassliquor.co.nz?
9   http://oqlKiMS81WJ8.9TByOetsnoF9.safarbeqeshm....
10        https://youtu.be/PAauiLx3AvQ?feature=shared
11  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...
12  https://www.moroccoworldnews.com/2024/04/36209...
13  https://6602c412-67f3-4725-92eb-5c2ebb2c6166.h...
14  http://aws.amazon.com.signin.redirect.uri.new....
15  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...
16                       https://youtu.be/64pOKcXxgl8
17  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...
18  https://en.m.wikipedia.org/wiki/Nuclear_Regula...
19  https://en.m.wikipedia.org/wiki/March_Air_Rese...
20  https://en.m.wikipedia.org/wiki/Kingdom_of_Iberia
21  https://en.m.wikipedia.org/wiki/Architect_of_t...
22  https://www.amazon.com/Black-Georgetown-Rememb...
23  https://en.m.wikipedia.org/wiki/United_States_...
24  https://en.m.wikipedia.org/wiki/United_States_...
25  https://en.m.wikipedia.org/wiki/Guantanamo_Bay...
26  https://en.m.wikipedia.org/wiki/Supreme_Court_...
27  https://en.wikipedia.org/wiki/United_States_Co...
28  https://en.wikipedia.org/wiki/March_Air_Reserv...
29  http://att-facebook.com-koizpgxOJH.zaganashone...
30  https://www.iisheadan.com/2022/08/22/yeah-lets...
31  http://paschoalotto_campanha.enviodeboleto.com...
32         http://cassia.martins@itau-unibanco.com.br
33                         http://RENEWAL-PROCESS.NET
34                  http://Rabobank.nl.vervangnu.info
35  https://www.youtube.com/@silversneakers/playlists
36  https://www.fathomevents.com/events/jeanne-du-...
37                          http://chng.it/DWv5GPRRC6
38                          http://chng.it/DWv5GPRRC6
39                          http://chng.it/DWv5GPRRC6

In [9]:
df.head()

,Sl no,Name,Profile ID,Date,Comment,Phishing
0,17,xyx,8587643.0,22/04/24 21:28:25,https://CornyNanoScale.swiruty.repl.co,🚩
1,29,fggts,667765.0,23/04/24 02:51:24,http://0x2501c8ed,
2,38,hgyfgf,7647364.0,23/04/24 06:26:34,http://7SAH.numexi.com,🚩
3,49,bhfbhfbv,776663.0,23/04/24 14:09:06,http://FOLLYBEACHVACATIONS.CO/4ABM,🚩
4,64,hhyd,887772.0,23/04/24 22:19:16,http://MyJCB-jp.ltd/RegistUser/cojp_head_myj_t...,🚩

In [7]:
df.to_csv("C:/Users/durga/Desktop/SPU/DS 600/PROJECT/FINAL/PHISHING_LINKS.CSV", index=False)

In [8]:
# Function to check if a URL is a phishing link
def is_phishing(url):
    # Regular expression to match common phishing patterns
    pattern = r'(https?://(?:www\.)?[\w\-\.]+\.\w+/?)'
    if re.match(pattern, url):
        return True
    return False


df['Phishing'] = df['Comment'].apply(lambda x: '🚩' if is_phishing(x) else '')


print(df)

    Sl no                    Name    Profile ID               Date  \
0      17                     xyx  8.587643e+06  22/04/24 21:28:25
1      29                   fggts  6.677650e+05  23/04/24 02:51:24
2      38                  hgyfgf  7.647364e+06  23/04/24 06:26:34
3      49                bhfbhfbv  7.766630e+05  23/04/24 14:09:06
4      64                    hhyd  8.877720e+05  23/04/24 22:19:16
5      77                    yuou  8.877300e+04  23/04/24 22:45:49
6      86                   youta  9.900800e+04  24/04/24 01:53:13
7      99                    ttru  7.654300e+04  24/04/24 12:14:34
8     132                     dio  6.754300e+04  24/04/24 14:46:16
9     167                    ytre  9.876540e+05  24/04/24 15:02:20
10    179        marilynshugart42  2.757670e+08  24/04/24 15:06:34
11    487                    tris  6.543000e+03  16/04/24 17:48:28
12    558             colin_drane  5.371549e+10  19/04/24 14:01:57
13    577                    hytr  8.765300e+04  20/04/24 03:58:04
14    615                 gowtham  6.543000e+03  23/04/24 10:30:37
15    760                    ford  6.543000e+03  22/11/23 20:26:13
16    807                onifauji  1.900660e+09  23/01/24 12:53:48
17    835                   freud  8.754000e+03    9/10/2023 16:19
18    879  chris_martin_voicemail  2.942020e+10  21/12/23 23:22:01
19    885  chris_martin_voicemail  2.942020e+10  21/12/23 23:24:10
20    889  chris_martin_voicemail  2.942020e+10  21/12/23 23:28:18
21    891  chris_martin_voicemail  2.942020e+10  21/12/23 23:28:52
22    892  chris_martin_voicemail  2.942020e+10  21/12/23 23:29:25
23    894  chris_martin_voicemail  2.942020e+10  21/12/23 23:30:35
24    897  chris_martin_voicemail  2.942020e+10  21/12/23 23:31:27
25    898  chris_martin_voicemail  2.942020e+10  21/12/23 23:32:01
26    900  chris_martin_voicemail  2.942020e+10  21/12/23 23:32:51
27    902  chris_martin_voicemail  2.942020e+10  22/12/23 00:33:15
28    904  chris_martin_voicemail  2.942020e+10  22/12/23 00:36:03
29    930                    gytr  6.543200e+04  19/04/24 12:02:03
30    957                djsheaii  9.947336e+08  19/04/24 20:06:25
31   1114                    rode  3.423100e+04     6/5/2024 14:23
32   1132                    hyre  3.456000e+03    11/5/2024 23:31
33   1213                     vgt  6.543200e+04  17/04/24 16:11:32
34   1271                   vtres  6.543770e+05  30/03/24 21:03:35
35   1483            mariachusi16  5.506396e+10  23/04/24 12:22:05
36   1711           justformycats  3.577253e+08  24/04/24 16:31:52
37   1869         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48
38   1870         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48
39   1871         tadzinowhatwhat  4.262901e+09    12/2/2020 22:48

                                              Comment Phishing
0              https://CornyNanoScale.swiruty.repl.co        🚩
1                                   http://0x2501c8ed
2                              http://7SAH.numexi.com        🚩
3                  http://FOLLYBEACHVACATIONS.CO/4ABM        🚩
4   http://MyJCB-jp.ltd/RegistUser/cojp_head_myj_t...        🚩
5   http://MyJCB-jp.top/RegistUser/cojp_head_myj_t...        🚩
6                          http://OemuT8.revahgrs.vip        🚩
7                       http://paypaXw.co.uk.j1l7.top        🚩
8                         http://compassliquor.co.nz?        🚩
9   http://oqlKiMS81WJ8.9TByOetsnoF9.safarbeqeshm....        🚩
10        https://youtu.be/PAauiLx3AvQ?feature=shared        🚩
11  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...        🚩
12  https://www.moroccoworldnews.com/2024/04/36209...        🚩
13  https://6602c412-67f3-4725-92eb-5c2ebb2c6166.h...        🚩
14  http://aws.amazon.com.signin.redirect.uri.new....        🚩
15  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...        🚩
16                       https://youtu.be/64pOKcXxgl8        🚩
17  http://refund-hmrc.uk-CODEb6159368de39251d7a-l...        🚩
18  https://en.m.wikipedia.org/wiki/Nuclear_Regula...        🚩
19  https://en.m.wikipedia.org/wiki/March_Air_Rese...        🚩
20  https://en.m.wikipedia.org/wiki/Kingdom_of_Iberia        🚩
21  https://en.m.wikipedia.org/wiki/Architect_of_t...        🚩
22  https://www.amazon.com/Black-Georgetown-Rememb...        🚩
23  https://en.m.wikipedia.org/wiki/United_States_...        🚩
24  https://en.m.wikipedia.org/wiki/United_States_...        🚩
25  https://en.m.wikipedia.org/wiki/Guantanamo_Bay...        🚩
26  https://en.m.wikipedia.org/wiki/Supreme_Court_...        🚩
27  https://en.wikipedia.org/wiki/United_States_Co...        🚩
28  https://en.wikipedia.org/wiki/March_Air_Reserv...        🚩
29  http://att-facebook.com-koizpgxOJH.zaganashone...        🚩
30  https://www.iisheadan.com/2022/08/22/yeah-lets...        🚩
31  http://paschoalotto_campanha.enviodeboleto.com...        🚩
32         http://cassia.martins@itau-unibanco.com.br        🚩
33                         http://RENEWAL-PROCESS.NET        🚩
34                  http://Rabobank.nl.vervangnu.info        🚩
35  https://www.youtube.com/@silversneakers/playlists        🚩
36  https://www.fathomevents.com/events/jeanne-du-...        🚩
37                          http://chng.it/DWv5GPRRC6        🚩
38                          http://chng.it/DWv5GPRRC6        🚩
39                          http://chng.it/DWv5GPRRC6        🚩

In [10]:
df.head()

,Sl no,Name,Profile ID,Date,Comment,Phishing
0,17,xyx,8587643.0,22/04/24 21:28:25,https://CornyNanoScale.swiruty.repl.co,🚩
1,29,fggts,667765.0,23/04/24 02:51:24,http://0x2501c8ed,
2,38,hgyfgf,7647364.0,23/04/24 06:26:34,http://7SAH.numexi.com,🚩
3,49,bhfbhfbv,776663.0,23/04/24 14:09:06,http://FOLLYBEACHVACATIONS.CO/4ABM,🚩
4,64,hhyd,887772.0,23/04/24 22:19:16,http://MyJCB-jp.ltd/RegistUser/cojp_head_myj_t...,🚩