DATA LOADING

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/durga/Desktop/SPU/DS 600/PROJECT/FINAL/DATA_SET.CSV", encoding='latin1')

DATA CLEANING AND PRE PROCESSING

In [3]:
df.head()

,Sl no,Name,Profile ID,Date,Comment
0,1.0,scotty2jatty,3.982741e+08,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,2.0,angelasanders975,6.596329e+10,22/04/24 17:43:49,That's soooooooooo right
2,3.0,myleslewis_24,1.168729e+10,22/04/24 17:49:54,bro i want that shirt
3,4.0,miladheydarpour1369,7.529961e+09,22/04/24 18:44:02,ð¹
4,5.0,matthew_williams224,2.524021e+10,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sl no       2004 non-null   float64
 1   Name        2024 non-null   object
 2   Profile ID  2023 non-null   float64
 3   Date        2023 non-null   object
 4   Comment     1976 non-null   object
dtypes: float64(2), object(3)
memory usage: 79.3+ KB

In [5]:
# Converting inot the suitable data types for the variables
df['Name'] = df['Name'].astype(str)
df['Profile ID'] = df['Profile ID'].astype(str)
df.head()

,Sl no,Name,Profile ID,Date,Comment
0,1.0,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,2.0,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right
2,3.0,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt
3,4.0,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹
4,5.0,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [6]:
#dropping off unnessary colums from the data set
df.drop(columns=['Sl no'], inplace=True)

In [7]:
df.head()

,Name,Profile ID,Date,Comment
0,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð
1,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...

In [8]:
# To check the length of each comment 
df['Comment_Length'] = df['Comment'].str.len()

In [9]:
df.head()

,Name,Profile ID,Date,Comment,Comment_Length
0,scotty2jatty,398274122.0,22/04/24 05:27:52,You better do @jakepaul dirty ð,34.0
1,angelasanders975,65963290409.0,22/04/24 17:43:49,That's soooooooooo right,24.0
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro i want that shirt,21.0
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,ð¹,4.0
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,@michael_galt_1984 bro he only needs 1% to bea...,60.0

In [10]:
# Checcking the rows and colums in the data set
df.shape

(2028, 5)

STOP WORDS REMOVAL

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\durga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
from nltk.corpus import stopwords
import re

stopwords = set(stopwords.words("english"))

print(stopwords)

{'if', 'here', 'where', 'wouldn', 'll', "you've", 'up', 'didn', "you'll", 'a', 'when', 'o', 'why', 'any', 'has', 'yourselves', "isn't", "needn't", 'of', 'his', 'is', 'her', 'she', "didn't", 'such', 'again', 'than', 'ma', 'ourselves', 'into', 'other', 'mightn', "aren't", 'with', 'some', 'who', 'most', 'too', 'it', 'or', 'this', 'as', 'under', 'm', "that'll", 'doesn', 'shouldn', 'very', 'during', 'for', 'so', 'no', 'myself', 'whom', 'its', 'off', 'further', 'wasn', 'then', 'in', "it's", "shan't", 'the', 'until', 'y', 'itself', 'more', 'ain', 'how', "won't", 'aren', 'had', 'himself', 'weren', 'i', 'd', 'before', "mightn't", 'will', "you're", 'be', 'can', 'yourself', 'on', "mustn't", "weren't", 'were', "you'd", 'from', 'at', "wasn't", 'did', 'we', "couldn't", 'mustn', "shouldn't", 'down', "doesn't", 'hers', "she's", 'just', 'these', 're', "should've", 'there', "don't", 'they', 'own', 'yours', 'those', "hadn't", 'their', 'about', 'couldn', 'have', 'now', 'few', 'above', 'while', 'out', 'an', 's', 'between', 'same', 'through', 'isn', 'having', 'all', 'against', 'haven', 'to', 'was', 'been', "haven't", 'shan', 'but', 't', 've', 'hasn', 'won', 'them', 'both', 'he', 'which', 'only', 'being', 'what', 'my', 'should', 'themselves', 'once', 'am', 'our', 'because', 'your', 'ours', 'don', 'theirs', 'that', "hasn't", 'doing', 'you', 'herself', 'hadn', 'over', "wouldn't", 'below', 'nor', 'and', 'him', 'does', 'not', 'are', 'by', 'after', 'do', 'each', 'needn', 'me'}

In [13]:
import pandas as pd
import re
def remove_stopwords(text):
    if isinstance(text, str):
        filtered_words = [word.lower() for word in text.split() if word.lower() not in stopwords]
        return " ".join(filtered_words)
    else:
        return ""

# removing numbers and punctuations
def preprocess(text):
    if isinstance(text, str):
        text_input = re.sub(r'!', ' ', str(text))
        text_input = re.sub(r'[0-9]+', '', str(text_input))
        text_input = text_input.replace('<br /><br />', '')
        text_input = text_input.replace('(', '')
        text_input = text_input.replace('@', '')
        text_input = text_input.replace('_', '')
        text_input = text_input.replace('%', '')
        text_input = text_input.replace('"', '')
        text_input = text_input.replace('$', '')
        text_input = text_input.replace('*', '')
        text_input = text_input.replace('.', '')
        text_input = text_input.replace('/', '')
        text_input = text_input.replace(':', '')
        text_input = text_input.replace('?', '')
        text_input = text_input.replace(',', '')
        text_input = text_input.replace('---', '')
        text_input = text_input.replace("'", '')
        output = text_input.replace(')', '')
        return output.lower().strip()
    else:
        return ""

# Applying the functions to the DataFrame
df['Comment'] = df['Comment'].map(remove_stopwords)
df['Comment'] = df['Comment'].map(preprocess)

# Extracting the filtered data
df['Comment'] = df['Comment']

In [14]:
df['Comment'].head()

0                  better jakepaul dirty ð
1                     thats soooooooooo right
2                              bro want shirt
3                                        ð¹
4    michaelgalt bro needs  beat jakeâs ass
Name: Comment, dtype: object

In [15]:
def preprocess(text):
    # Remove emojis and non-ASCII symbols
    text_input = re.sub(r'[^\x00-\x7F]+', '', str(text))
    # Remove punctuations and numbers
    text_input = re.sub(r'[^\w\s]', ' ', text_input)
    # Remove multiple spaces
    text_input = re.sub(r'\s+', ' ', text_input)
    return text_input.strip().lower()

# Applying the preprocess function to the 'Comment' column
df['Comment'] = df['Comment'].map(preprocess)

In [16]:
df['Comment'].head()

0                   better jakepaul dirty
1                 thats soooooooooo right
2                          bro want shirt
3
4    michaelgalt bro needs beat jakes ass
Name: Comment, dtype: object

In [17]:
df

,Name,Profile ID,Date,Comment,Comment_Length
0,scotty2jatty,398274122.0,22/04/24 05:27:52,better jakepaul dirty,34.0
1,angelasanders975,65963290409.0,22/04/24 17:43:49,thats soooooooooo right,24.0
2,myleslewis_24,11687291106.0,22/04/24 17:49:54,bro want shirt,21.0
3,miladheydarpour1369,7529960718.0,22/04/24 18:44:02,,4.0
4,matthew_williams224,25240207448.0,22/04/24 18:53:42,michaelgalt bro needs beat jakes ass,60.0
...,...,...,...,...,...
2023,moespoe14,4984522145.0,19/02/20 12:49:27,she smiling carnivore plant,43.0
2024,moespoe14,4984522145.0,19/02/20 12:50:09,lifewithangela where,24.0
2025,splashelegant97,8479326318.0,19/02/20 13:58:23,muratserter okay sure lonely person hon,65.0
2026,dreamybeamy,11059719526.0,19/02/20 14:02:21,,38.0
2027,roberttheotherweasley,421167152.0,19/02/20 14:24:36,toxiiiic douchecanoe,20.0

In [18]:
df['Comment'].head(n=20)

0                                 better jakepaul dirty
1                               thats soooooooooo right
2                                        bro want shirt
3
4                  michaelgalt bro needs beat jakes ass
5
6                                              mike tko
7                                        t shirt though
8              yeah boy tysons gonna get shit done goat
9                                       please win mike
10                                         want t shirt
11                                           love shirt
12
13
14                            jakepaul cant wait see it
15    brotha michael heck inspiration now everybody ...
16                     httpscornynanoscaleswirutyreplco
17       jakepaul money plan get punched mouth millions
18                            finish him fatality style
19                                                   it
Name: Comment, dtype: object

In [19]:
#Dropping the rows which are empty now
df = df[df['Comment'].str.strip().astype(bool)]

# Reset index after dropping rows
df.reset_index(drop=True, inplace=True)

In [20]:
df['Comment'].head(n=20)

0                                 better jakepaul dirty
1                               thats soooooooooo right
2                                        bro want shirt
3                  michaelgalt bro needs beat jakes ass
4                                              mike tko
5                                        t shirt though
6              yeah boy tysons gonna get shit done goat
7                                       please win mike
8                                          want t shirt
9                                            love shirt
10                            jakepaul cant wait see it
11    brotha michael heck inspiration now everybody ...
12                     httpscornynanoscaleswirutyreplco
13       jakepaul money plan get punched mouth millions
14                            finish him fatality style
15                                                   it
16                                          whens fight
17                                           plan dream
18    miketysoncollection shirt site exactly say shi...
19                                   jakepaul hell make
Name: Comment, dtype: object

In [21]:
df.shape

(1623, 5)

In [25]:
df.to_csv('C:/Users/durga/Desktop/SPU/DS 600/PROJECT/FINAL/cleaned_data.csv', index=False)